<ng-container [ngSwitch]="val">
  <div class="d-flex justify-content-center align-items-center">
    <span *ngSwitchCase="0" class="text-warning fs-2">Not Reviewed Yet</span>
    <span *ngSwitchCase="1" class="text-warning fs-2 justify-content-center"
      >*</span
    >
    <span *ngSwitchCase="2" class="text-warning fs-2">**</span>
    <span *ngSwitchCase="3" class="text-warning fs-2">***</span>
    <span *ngSwitchCase="4" class="text-warning fs-2">****</span>
    <span *ngSwitchCase="5" class="text-warning fs-2">*****</span>
    <input
      type="number"
      class="input rounded p-1 w-25 mx-2"
      #rateNumber
      (keyup)="rate(rateNumber.value)"
    />
  </div>
</ng-container>
