<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Anguler</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active  "
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/static-products"
            routerLinkActive="active  "
            >Static Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/products"
            routerLinkActive="active  "
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white">Purshase '{{ cartNumber }}'</a>
        </li>
        <li class="nav-item dropdown" *ngIf="LoggedUser == null">
          <a
            class="nav-link dropdown-toggle text-white"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Join Us
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/login"
                routerLinkActive="active  "
                >Login</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/register"
                routerLinkActive="active  "
                >Register</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="LoggedUser != null">
          <a
            class="nav-link dropdown-toggle text-white"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcom {{ LoggedUser.name }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/profile"
                routerLinkActive="active  "
                >Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="LogOut()">LogOut</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
      </ul>
      <div class="d-flex text-white">
        <!-- <li class="nav-item"> -->
        <h4 class="text-white mx-2">{{ LoggedUser?.name }}</h4>
        <!-- </li> -->
        <!-- <input
          class="form-control me-2"
          type="text"
          placeholder=""
          [(ngModel)]="clientName"
          aria-label="Search"
        /> -->
        <!-- <button class="btn btn-outline-secondary" type="button">Add</button> -->
      </div>
    </div>
  </div>
</nav>
